{{define "content"}}
<section>
    {{range .Posts}}
    <article class="post-card-wrap">
        <a class="post-card" href="/posts/{{.Slug}}/">
            <header>
                <span class="post-card__title"><strong>{{.Title}}</strong></span>
                <span class="post-card__meta"><time datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "2 January 2006"}}</time></span>
            </header>
            {{if .Summary}}<p class="post-card__summary">{{.Summary}}</p>{{end}}
        </a>
    </article>
    {{else}}
    <p>No posts yet.</p>
    {{end}}
</section>
{{end}}
